/* Navbar general */
.navbar {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: rgb(241 245 249); /* Asegúrate de definir este color en tu CSS */
    padding: 10px 20px;
    color: var(--color-text-light); /* Asegúrate de definir este color en tu CSS */
    width: 100%; /* Asegura que el navbar ocupe toda la anchura */
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
  }
  
  /* Branding (Título del Navbar) */
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 35px;
  }
  
  /* Estilos para el menú */
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-item {
    margin-left: 20px;
  }
  
  .menu-link {
    color: var(--color-text-light); /* Asegúrate de definir este color en tu CSS */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .menu-link:hover {
    color: var(--color-accent); /* Asegúrate de definir este color en tu CSS */
  }
  