/* Sidebar.css */
.sidebar {
    width: 250px; /* Ancho del sidebar */
    height: 100vh; /* Altura del sidebar, ocupa toda la altura de la ventana */
    background: linear-gradient(to right, #d6dbdf 0%, #aeb6bf 100%); /* Color de fondo */
    color: #fff; /* Color del texto */
    display: flex; /* Uso de flexbox */
    flex-direction: column; /* Los elementos del sidebar se organizan en una columna */
    padding: 1rem; /* Espaciado interno */
    position: fixed; /* Fija el sidebar en la posición */
    top: 0; /* Posiciona el sidebar en la parte superior */
    left: 0; /* Posiciona el sidebar en el lado izquierdo */
  }
  
  .sidebar-title {
    margin-bottom: 1rem; /* Espaciado debajo del título */
    font-size: 1.5rem; /* Tamaño de fuente del título */
    text-align: center; /* Centra el texto del título */
  }
  
  .sidebar-menu {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding del ul */
  }
  
  .sidebar-item {
    margin: 0.5rem 0; /* Espaciado vertical entre los elementos del menú */
  }
  
  .sidebar-link {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-size: 1.1rem; /* Tamaño de fuente */
    display: block; /* Hace que el enlace ocupe todo el ancho del elemento */
    padding: 0.5rem; /* Espaciado interno del enlace */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
  }
  
  .sidebar-link:hover {
    background-color: #555; /* Color de fondo del enlace cuando se pasa el mouse sobre él */
  }
  